header{
    padding: 15px;
    color: white;
    background-color: rgb(39, 66, 39);
    border-bottom: 1px solid rgb(43, 94, 43);
}

.herbalife{
    font-size: 24pt;
    /* padding: 15px; */
}

.search-area{
    margin: 15px auto 15px auto;
}

div, td, th, header, footer{
    font-family: 'Montserrat', sans-serif;
    word-spacing: 10px;
    font-size: 16pt;
    font-weight: normal;
}


footer{
    padding: 15px;
    background-color: rgb(240,240,240);
    border-top: 2px solid rgb(78,78,78);
}

.full{
    min-height: 90vh;
}

#btn{
    margin: 5px 15px;
}