
table{
    width: 100%;
    border: 1px solid silver;
}

td,th{
    padding: 15px;
    border: 1px solid silver;
    width: 50%;
}

th{
    font-size: 20pt;
}

tr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.price:hover{
    font-size: 1.rem;
}