{{ define "pagecontent"}}

<form action="/search" method="GET">
    <div class="input-wrapper searcharea"> 
        <input type="search" name="search" id="search"
        ><button type="submit">
            <span class="glyphicon glyphicon-search"></span>
            Search
        </button>    
    </div>
</form>

<div class="full table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Products</th>
                <th>Suggested Selling Price </th>
            </tr>
        </thead>
        {{range .Products}}
        <tbody>
            <tr>
                <td>{{.ProductName}}</td>
                <td>GHC{{.SuggestedSellingPrice}}</td>
            </tr>
        </tbody>
        {{end}}
    </table>
</div>

{{ end }}